* {
  margin: -2px;
}



#root {
  width: 400px;
  max-height: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "income"
    "expense"
    "total";
}

.logo {
  grid-area: logo;
  height: 100px;
  background-color: white;
  box-shadow: 0px 4px 11px 0px rgba(173, 173, 173, 1);
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}

.logo h1 {
  margin-left: 120px;
  padding-top: 27px;
  color: #4cefa4;
}

.income {
  grid-area: income;
  height: 150px;
  background-color: #4cefa4;
  font-family: "Roboto", sans-serif;
  color: #394b40;
}

.income h1 {
  margin-left: 60px;
  padding-top: 40px;
}

.income img {
  width: 50px;
  margin-left: 10px;
}

.top {
  display: inline-block;
  margin-right: 20px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 250px;
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 10px;
  color: #394b40;
  font-size: 30px;
}

.expense {
  grid-area: expense;
  height: 150px;
  background-color: #ffa50a;
  font-family: "Roboto", sans-serif;
  color: #394b40;
}

.expense h1 {
  margin-left: 60px;
  padding-top: 30px;
}

.expense img {
  width: 50px;
  vertical-align: middle;
}
.freespend-total {
  grid-area: total;
  height: 200px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #394b40;
}

button {
  border-radius: 10px;
  font-size: 35px;
  color: #ffa50a;
  width: 50px;
}

.total-label {
  display: inline-block;
  margin-left: 20px;
}

.total-amount {
  display: inline-block;
  margin-left: 150px;
  margin-top: 10px;
}

#spend {
  color: #4cefa4;
  font-size: 50px;
  margin-left: 50px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(50px, 4);
  grid-template-rows: 100px;
  grid-template-areas: "expenses transactions goals send";
}

.nav-button {
  border: 1px solid rgb(212, 209, 209);
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.nav-button:hover {
  border: 1px solid black;
}

.nav-button img {
  width: 65px;
  margin-top: 4px;
}

#expenses-button {
  grid-area: expenses;
}

#transaction-button {
  grid-area: transactions;
}

#goal-button {
  grid-area: goals;
}

#send-button {
  grid-area: send;
}

#fixed {
    background-color: #FF840A;
    height: 200px;
}

.expense-list {
  height: 230px;
  overflow-y: auto;
}

.home-icon{
  margin-left: 15px;
}

.expense-total-h1{
  display: inline-block;

}

.expense-total-amount {
  display: inline-block;
}

.colon {
  color: #FF840A;
}

a {
  color: #394b40;
  text-decoration: none;
}