* {
  margin: -2px;
}



#root {
  width: 400px;
  max-height: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "logo"
    "income"
    "expense"
    "total";
}

.logo {
  grid-area: logo;
  height: 100px;
  background-color: white;
  box-shadow: 0px 4px 11px 0px rgba(173, 173, 173, 1);
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}

.logo h1 {
  margin-left: 120px;
  padding-top: 27px;
  color: #4cefa4;
}

.income {
  grid-area: income;
  height: 150px;
  background-color: #4cefa4;
  font-family: "Roboto", sans-serif;
  color: #394b40;
}

.income h1 {
  margin-left: 60px;
  padding-top: 40px;
}

.income img {
  width: 50px;
  margin-left: 10px;
}

.top {
  display: inline-block;
  margin-right: 20px;
}

input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  width: 250px;
  margin-left: 80px;
  margin-right: 20px;
  margin-top: 10px;
  color: #394b40;
  font-size: 30px;
}

.expense {
  grid-area: expense;
  height: 150px;
  background-color: #ffa50a;
  font-family: "Roboto", sans-serif;
  color: #394b40;
}

.expense h1 {
  margin-left: 60px;
  padding-top: 30px;
}

.expense img {
  width: 50px;
  vertical-align: middle;
}
.freespend-total {
  grid-area: total;
  height: 200px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #394b40;
}

button {
  border-radius: 10px;
  font-size: 35px;
  color: #ffa50a;
  width: 50px;
}

.total-label {
  display: inline-block;
  margin-left: 20px;
}

.total-amount {
  display: inline-block;
  margin-left: 150px;
  margin-top: 10px;
}

#spend {
  color: #4cefa4;
  font-size: 50px;
  margin-left: 50px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(50px, 4);
  grid-template-rows: 100px;
  grid-template-areas: "expenses transactions goals send";
}

.nav-button {
  border: 1px solid rgb(212, 209, 209);
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.nav-button:hover {
  border: 1px solid black;
}

.nav-button img {
  width: 65px;
  margin-top: 4px;
}

#expenses-button {
  grid-area: expenses;
}

#transaction-button {
  grid-area: transactions;
}

#goal-button {
  grid-area: goals;
}

#send-button {
  grid-area: send;
}

#fixed {
    background-color: #FF840A;
    height: 200px;
}

.expense-list {
  height: 236px;
  overflow-y: auto;
}

.home-icon{
  margin-left: 15px;
}

.expense-total-h1{
  display: inline-block;
  width: 60%;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  color: #7e8180;
}


.expense-total-amount {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: #FF840A
}

.expense-card {
  border-bottom: #ffa50a 1px solid;
}


.colon {
  color: #FF840A;
}

a {
  color: #394b40;
  text-decoration: none;
}

.transaction-mid {
  height: 348px;
  overflow-y: auto;
}

.transaction-head {
  height: 150px;
  background-color: #4cefa4;
  font-family: "Roboto", sans-serif;
  color: #394b40;
}

.transaction-head img {
  vertical-align: middle;
 
}
.transaction-h1 {
  padding-left: 40px;
  padding-top: 50px;
}

.transaction-card {
  border-bottom: #4cefa4 1px solid;
  

}

.transaction-entry {
  padding: 15px;
  font-family: "Roboto", sans-serif;
  color: #394b40;
  display: inline-block;
}

.transaction-amount {
  display: inline-block;
}
.goal-head {
  height: 150px;
  background-color: #80F4FD;
  font-family: "Roboto", sans-serif;
  color: #394b40;

}

.goal-mid {
  height: 348px;
  overflow-y: auto;
}

.light-orange {
  color: #ffa50a;
}

.warning {
  padding: 40px;
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
  color: #b8b8b8;


}

.fixed-warning {
  padding: bottom 40px;
}

.goal-h1 {
  padding-left: 115px;
  padding-top: 50px;
}

.goal-head img {
  vertical-align: middle;
}

.edit-icon {
  display: inline-block;
  padding-right: 10px;
}

.modal-box {
  position: absolute;
  background-color: white;
  width: 300px;
  font-family: "Roboto", sans-serif;
  color: #394b40;
  height: 150px;
  top: 160px;
  left: 60px;
  border-radius: 4px;

}

.modal-overlay  {
  background-color: rgba(38, 44, 44, 0.8);
  position: absolute;
  height: 580px;
  width: 419px;
  
}

.modal-box button {
 width: 90px;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 0;
  border: #FFa50A 1px solid;
  font-size: 20px;
}

.modal-input {
  display: block;
  margin-left: 20px;
}

.modal-box h1 {
  padding-left: 60px;
  padding-top: 10px;
}